<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TechTesti - Testimonial Slider Tailwind CSS 3 HTML Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="A fully responsive Tailwind CSS Multipurpose agency, application, business, clean, creative, cryptocurrency, it solutions, startup, career, blog, modern, creative, multipurpose, portfolio, saas, software, tailwind css, etc."
      name="description"
    />
    <meta content="Techzaa" name="author" />

    <!-- Theme favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico" />

    <!-- Style css -->
    <link href="assets/css/style.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <section class="py-14">
      <div class="container">
        <div class="float-right hidden sm:block">
          <img src="assets/images/trophy.png" alt="" class="h-36" />
        </div>

        <div class="text-center max-w-md mx-auto">
          <span
            class="text-purple-500 text-base font-medium uppercase block mb-3"
            >Testimonials</span
          >
          <h1 class="text-4xl font-semibold mb-5">What People Say</h1>
          <p class="text-gray-500 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            tempor incididunt.
          </p>
        </div>

        <div class="border-b my-10"></div>

        <div class="grid lg:grid-cols-2 gap-6">
          <div>
            <div class="space-y-6">
              <div class="bg-yellow-500/40 rounded-xl p-7">
                <div
                  class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-10"
                >
                  <img
                    src="assets/images/hourglass.png"
                    alt=""
                    class="h-36 mx-auto sm:me-auto"
                  />
                  <div class="sm:text-end">
                    <p class="text-xl text-gray-700 font-light">
                      In our company we believe that good design matters, it
                      makes us better in many eays
                    </p>

                    <div class="flex items-center sm:justify-end gap-3 mt-5">
                      <img
                        src="assets/images/avatars/img-1.png"
                        alt=""
                        class="rounded-full h-8"
                      />
                      <span class="text-gray-600 font-light text-base"
                        >Andy Bush | CEO</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="bg-sky-500/40 rounded-xl p-7">
                <div
                  class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-10"
                >
                  <img
                    src="assets/images/archery.png"
                    alt=""
                    class="h-36 mx-auto sm:me-auto"
                  />
                  <div class="sm:text-end">
                    <p class="text-xl text-gray-700 font-light">
                      In our company we believe that good design matters, it
                      makes us better in many eays
                    </p>

                    <div class="flex items-center sm:justify-end gap-3 mt-5">
                      <img
                        src="assets/images/avatars/img-2.png"
                        alt=""
                        class="rounded-full h-8"
                      />
                      <span class="text-gray-600 font-light text-base"
                        >Alex Hills | CEO Twitter</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="space-y-6 lg:mt-20">
              <div class="bg-purple-500/40 rounded-xl p-7">
                <div
                  class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-10"
                >
                  <img
                    src="assets/images/speaker.png"
                    alt=""
                    class="h-36 mx-auto sm:me-auto"
                  />
                  <div class="sm:text-end">
                    <p class="text-xl text-gray-700 font-light">
                      In our company we believe that good design matters, it
                      makes us better in many eays
                    </p>

                    <div class="flex items-center sm:justify-end gap-3 mt-5">
                      <img
                        src="assets/images/avatars/img-3.png"
                        alt=""
                        class="rounded-full h-8"
                      />
                      <span class="text-gray-600 font-light text-base"
                        >Andy Bush | CEO</span
                      >
                    </div>
                  </div>
                </div>
              </div>

              <div class="bg-yellow-500/40 rounded-xl p-7">
                <div
                  class="flex flex-wrap sm:flex-nowrap items-center justify-between gap-10"
                >
                  <img
                    src="assets/images/earth.png"
                    alt=""
                    class="h-36 mx-auto sm:me-auto"
                  />
                  <div class="sm:text-end">
                    <p class="text-xl text-gray-700 font-light">
                      In our company we believe that good design matters, it
                      makes us better in many eays
                    </p>

                    <div class="flex items-center sm:justify-end gap-3 mt-5">
                      <img
                        src="assets/images/avatars/img-4.png"
                        alt=""
                        class="rounded-full h-8"
                      />
                      <span class="text-gray-600 font-light text-base"
                        >Mark Rubio | CEO TikTok</span
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="flex items-center justify-center mt-10">
          <button
            class="border border-purple-600 text-purple-600 rounded-full transition-all duration-300 hover:bg-purple-600 hover:text-white px-7 py-3"
          >
            Show More
          </button>
        </div>
      </div>
    </section>
  </body>
</html>
